//- html
//-   script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js')
//-   script.
//-     var app = angular.module('datal',[]);
//-     app.controller('datal',function($scope,$http){
//-         $scope.dttt = "sdsf";
//-         $scope.records = [
//-             {goaldata : "Alfreds Futterkiste",num:'10'},
//-             {goaldata : "Alfreds Futterkiste",num:'20'},
//-             {goaldata : "Alfreds Futterkiste",num:'30'},
//-             {goaldata : "Alfreds Futterkiste",num:'40'},
//-         ]
//-     })
//-   body(ng-app='datal', ng-controller='datal')  
//-     input(type="text",value="{{dttt}}")
//-     ul 
//-         each data in records
//-             li #{data.goaldata}
        
|   jhjkhjkhjkhkj